<h1>Error Message</h1>
<!-- Display an error message -->
<h2><%= productID %> is currently in stores and cannot be deleted</h2>
<!-- Link back to home page -->
<ul>
    <li><a href="/">Home</a></li>
</ul>''