<h1>Stores</h1>
<!-- Link to add store -->
<ul>
    <li><a href="/addStores">Add Stores</a></li>
</ul>
<!-- Create a table to display store information -->
<table>
    <tr>
        <th>SID</th>
        <th>Location</th>
        <th>Manager ID</th>
        <th>Action</th>
    </tr>
    <% store.forEach((sto) => {%>
        <tr>
            <td><%= sto.sid %></td>
            <td><%= sto.location %></td>
            <td><%= sto.mgrid %></td>
            <td>
                <ul>
                    <li><a href="/editStores/<%=sto.sid %>">Update</a></li>
                </ul>
            </td>
        </tr>
    <%})%>
</table>
<!-- Link back to home page -->
<ul>
    <li><a href="/">Home</a></li>
</ul>